# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# build things
build/**
dist/**
**/build/**
**/dist/**

# misc
.DS_Store
*.pem
tmp

# yarn/npm things
yarn_cache
.npmrc

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env_prd
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# remix
.cache
**/app/styles/*.css
/out/**
